h1 {
    color: darkred;
    font-size: xx-large;
    font-family: cursive;
    text-indent: 135px;
}

/* #mainimage {
    image-orientation: flip;
    width: 500;
    border-radius: 200;
} */

img {
    width: 500px;
    border-radius: 50%;
}

body {
    background-color: bisque;
}

li {
    font-family: cursive;
}